.knopka{
background-color: rgba(0, 0, 255, 0.5);
color: white;
font-size: 30px;
}

.knopka:hover{
background-color: rgba(0, 0, 255, 1);
color: rgba(230, 230, 250, 1);
font-size: 30px;
}

.menu{
position: absolute;
display: block;
}

a{
text-decoration: none;
}